.focused {
    background-color: rgb(181, 213, 242);
}

.keyword {
    color: cadetblue;
}

.text-wrapper {
    display: flex;
    flex-direction: row;
}
/* .first-div, .second-div {
    flex: 
} */

.children {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.empty {
    width: 10px;
    height: 20px;
    background-color: rgb(215, 225, 233);
    border-radius: 4px;
}

.break {
    width: 100%;
}

.horiz {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.cursor-div {
    width: 1px;
    height: 20px;
    margin: 0 -0.5px;
    background-color: black;
    cursor: text;
  }

/* .focused::after {
    content: "";
    display: inline-block;
    width: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: text;
  } */